<!DOCTYPE html>
<html>
  <head>
	<title>Magasin</title>
	<link rel='stylesheet' href='/stylesheets/skeleton.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/a-changer.css' />
  </head>
  <body>
	<header id="main">
		<img src="/images/lightning.png" height="40px"><span>MAGASIN</span>
	</header>
	<header id="soldes">
		<span class="important-rouge gros-texte">SOLDES: JUSQU'À -60%</span><br>
		<span class="important-blanc">Profiter du dernier jour des soldes !</span>
	</header>
	<ul>
		<li>
			<img src="/images/coffee.png" width="200px"><br>
			<div>
				<span class="bulle item-solde">-50%</span>
				<span class="item-titre">CONCENTRÉ DE CAFÉINE</span><br>
				<div class="separateur-vertical"></div>
				<del>5€</del> <span class="item-prix-vert">Prix soldé: 2.50€</span><br>
				<button>ACHETER</button>
			</div>
		</li>
		<li>
			<img src="/images/bobun.jpg" width="200px" height="150px"><br>
			<div>
				<span class="bulle item-solde">-25%</span>
				<span class="bulle item-plus">Meilleur prix</span>
				<span class="item-titre">SALADE TROP CHERE</span><br>
				<div class="separateur-vertical"></div>
				<del>8€</del> <span class="item-prix-vert">Prix soldé: 6€</span><br>
				<button>ACHETER</button>
			</div>
		</li>
		<li>
			<img src="/images/sushi1.jpg" width="200px" height="150px"><br>
			<div>
				<span class="bulle item-solde">-25%</span>
				<span class="item-titre">PLATEAU DE SUSHI</span><br>
				<span><img class="icon" src="/images/cutlery.png" height="20px"> 1 personne</span><br>
				<span><img class="icon" src="/images/sushi-icon.png" height="20px"> 30 pièces</span><br>
				<div class="separateur-vertical"></div>
				<del>25€</del> <span class="item-prix-vert">Prix soldé: 20€</span><br>
				<button>ACHETER</button>
			</div>
		</li>
		<li>
			<img src="/images/sushi2.jpg" width="200px" height="150px"><br>
			<div>
				<span class="bulle item-solde">-60%</span>
				<span class="item-titre">PLATEAU DE SUSHI</span><br>
				<span><img class="icon" src="/images/cutlery.png" height="20px"> 2 personne</span><br>
				<span><img class="icon" src="/images/sushi-icon.png" height="20px"> 350 pièces</span><br>
				<div class="separateur-vertical"></div>
				<del>500€</del> <span class="item-prix-vert">Prix soldé: 200€</span><br>
				<button>ACHETER</button>
			</div>
		</li>
	</ul>
  </body>
</html>
